<% include ../partials/header %> 

<img src='<%= stamp.image %>' >
<h4> <%= stamp.name %> </h4>
<p> <%= stamp.neighborhood %> </p>
<p> <%= stamp.description %> </p>

<p>Submitted by <%= stamp.author.username %> </p>

<% if (currentUser && stamp.author.id.equals(currentUser._id)) { %>
    <a href='/stamps/<%= stamp._id %>/edit'>Edit</a>
    
    <form action='/stamps/<%= stamp._id %>?_method=DELETE' method="POST">
        <button>Delete Stamp</button>
    </form>
<% } %>

<% if (currentUser) { %>
<form action='/stamps/<%= stamp._id %>/comments' method="POST">
    <input type='text' name='comment[text]' placeholder="Add a comment">
    <button>Add Comment</button>
</form>
<% } %>

<% if (currentUser && (currentUser.nStamps.includes(stamp._id.toString()) || currentUser.neStamps.includes(stamp._id.toString()) || currentUser.nwStamps.includes(stamp._id.toString()) || currentUser.seStamps.includes(stamp._id.toString()) || currentUser.swStamps.includes(stamp._id.toString()))) { %>
<p>You have already completed this stamp!</p>
<% } else if (currentUser) { %>
<form action='/users/<%= currentUser._id %>/<%= stamp._id %>' method="POST">
    <input type='text' name='submission' placeholder="What is the answer?">
    <input type='hidden' name='neighborhood' value='<%= stamp.neighborhood %>'>
    <button>Complete Stamp</button>
</form>
<% } %>

<% stamp.comments.forEach((comment) => { %>
  <%= comment.author.username %>
  <%= comment.text %>


<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
<a href='/stamps/<%= stamp._id %>/comments/<%=comment._id %>/edit'>Edit Comment</a>
<form action='/stamps/<%=stamp._id %>/comments/<%=comment._id %>?_method=DELETE' method='POST'>
<button>Delete comment</button>                        
</form>
<% } %>

<% }); %>



<% include ../partials/footer %> 
